In [1]:
import pandas as pd

In [2]:
xlsfile = pd.ExcelFile('lec28.xlsx')

In [3]:
dframe = xlsfile.parse('Sheet1')

In [4]:
dframe

   This is a test  Unnamed: 1  Unnamed: 2  Unnamed: 3
0             NaN         NaN         NaN         NaN
1        0.725225    0.355481    0.912901    0.561558
2        0.788193    0.940931    0.345724    0.102971
3        0.112954    0.163726    0.527629    0.740379
4        0.262693    0.573788    0.610056    0.407283
5        0.179282    0.498520    0.533430    0.750764