In [25]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
dframe1 = DataFrame(np.arange(8).reshape(2,4),
                   index = pd.Index(['LA','SF'], name='city'),
                   columns=pd.Index(['A','B','C','D'], name='letter'))

In [5]:
dframe1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [6]:
dframe_st = dframe1.stack()

dframe_st

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int32

In [7]:
dframe_st.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [8]:
dframe_st.unstack('letter')

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [10]:
dframe_st.unstack('city')

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [11]:
ser1 = Series([0,1,2], index=['Q','X','Y'])

ser2 = Series([4,5,6], index=['X','Y','Z'])

In [12]:
dframe = pd.concat([ser1, ser2], keys=['Alpha','Beta'])

dframe

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [13]:
dframe.unstack()

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [15]:
dframe.unstack().stack()

Alpha  Q    0.0
       X    1.0
       Y    2.0
Beta   X    4.0
       Y    5.0
       Z    6.0
dtype: float64

In [31]:
dframe = dframe.unstack()

AttributeError: 'function' object has no attribute 'unstack'

In [27]:
dframe1

letter  city
A       LA      0
        SF      4
B       LA      1
        SF      5
C       LA      2
        SF      6
D       LA      3
        SF      7
dtype: int32

In [30]:
dframe1.stack()

AttributeError: 'Series' object has no attribute 'stack'