In [1]:
import numpy as np

from pandas import Series,DataFrame

import pandas as pd

from numpy .random import randn

In [2]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [4]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [5]:
ser3 = Series(['USA','MEXICO','CANADA'], index = [0,5,10])
ser3

0        USA
5     MEXICO
10    CANADA
dtype: object

In [6]:
ranger = range(15)

In [7]:
ranger

range(0, 15)

In [9]:

ser3.reindex(ranger, method = 'ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     MEXICO
6     MEXICO
7     MEXICO
8     MEXICO
9     MEXICO
10    CANADA
11    CANADA
12    CANADA
13    CANADA
14    CANADA
dtype: object

In [10]:
dframe = DataFrame(randn(25).reshape(5,5), index = ['A','B','D','E','F'],
                  columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  1.342037  1.196235 -0.363082  0.833950 -1.012308
B -1.044299 -0.381020  0.001615  0.663517 -0.156304
D -0.530070 -0.630410  1.624613 -0.133677 -0.448229
E -0.308986  0.363145  0.075549 -0.583262  1.420945
F -0.705028  0.634832  0.724285 -0.646315  0.334469

In [11]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  1.342037  1.196235 -0.363082  0.833950 -1.012308
B -1.044299 -0.381020  0.001615  0.663517 -0.156304
C       NaN       NaN       NaN       NaN       NaN
D -0.530070 -0.630410  1.624613 -0.133677 -0.448229
E -0.308986  0.363145  0.075549 -0.583262  1.420945
F -0.705028  0.634832  0.724285 -0.646315  0.334469

In [12]:
new_columns= ['col1','col2','col3','col4','col5','col6']

In [13]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.342037  1.196235 -0.363082  0.833950 -1.012308   NaN
B -1.044299 -0.381020  0.001615  0.663517 -0.156304   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.530070 -0.630410  1.624613 -0.133677 -0.448229   NaN
E -0.308986  0.363145  0.075549 -0.583262  1.420945   NaN
F -0.705028  0.634832  0.724285 -0.646315  0.334469   NaN

In [14]:
dframe

       col1      col2      col3      col4      col5
A  1.342037  1.196235 -0.363082  0.833950 -1.012308
B -1.044299 -0.381020  0.001615  0.663517 -0.156304
D -0.530070 -0.630410  1.624613 -0.133677 -0.448229
E -0.308986  0.363145  0.075549 -0.583262  1.420945
F -0.705028  0.634832  0.724285 -0.646315  0.334469

In [15]:
dframe.ix[['A','B','C','D','E','F'], new_columns]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A  1.342037  1.196235 -0.363082  0.833950 -1.012308   NaN
B -1.044299 -0.381020  0.001615  0.663517 -0.156304   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.530070 -0.630410  1.624613 -0.133677 -0.448229   NaN
E -0.308986  0.363145  0.075549 -0.583262  1.420945   NaN
F -0.705028  0.634832  0.724285 -0.646315  0.334469   NaN