In [3]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [5]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [6]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [9]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
ww2_cas = Series([87000000,4300000,3000000,2100000,400000],index =['ussr','Germany','china','japan','usa'])

In [11]:
ww2_cas

ussr       87000000
Germany     4300000
china       3000000
japan       2100000
usa          400000
dtype: int64

In [12]:
ww2_cas['usa']

400000

In [14]:
ww2_cas[ww2_cas > 4000000]

ussr       87000000
Germany     4300000
dtype: int64

In [15]:
'ussr' in ww2_cas

True

In [16]:
ww2_dict = ww2_cas.to_dict()

In [17]:
ww2_dict

{'Germany': 4300000,
 'china': 3000000,
 'japan': 2100000,
 'usa': 400000,
 'ussr': 87000000}

In [18]:
ww2_Series = Series(ww2_dict)

In [19]:
ww2_Series

Germany     4300000
china       3000000
japan       2100000
usa          400000
ussr       87000000
dtype: int64

In [24]:
countries = ['china','Germany','japan','usa','ussr','argentina']

In [25]:
obj2 = Series(ww2_dict,index= countries)
obj2

china         3000000.0
Germany       4300000.0
japan         2100000.0
usa            400000.0
ussr         87000000.0
argentina           NaN
dtype: float64

In [26]:
pd.isnull(obj2)

china        False
Germany      False
japan        False
usa          False
ussr         False
argentina     True
dtype: bool

In [27]:
pd.notnull(obj2)

china         True
Germany       True
japan         True
usa           True
ussr          True
argentina    False
dtype: bool

In [28]:
ww2_Series

Germany     4300000
china       3000000
japan       2100000
usa          400000
ussr       87000000
dtype: int64

In [29]:
ww2_Series

Germany     4300000
china       3000000
japan       2100000
usa          400000
ussr       87000000
dtype: int64

In [30]:
obj2

china         3000000.0
Germany       4300000.0
japan         2100000.0
usa            400000.0
ussr         87000000.0
argentina           NaN
dtype: float64

In [31]:
ww2_Series + obj2

Germany        8600000.0
argentina            NaN
china          6000000.0
japan          4200000.0
usa             800000.0
ussr         174000000.0
dtype: float64

In [32]:
obj2.name = "world war 2 casualties"
obj2

china         3000000.0
Germany       4300000.0
japan         2100000.0
usa            400000.0
ussr         87000000.0
argentina           NaN
Name: world war 2 casualties, dtype: float64

In [33]:
obj2.index.name = 'countries'

In [34]:
obj2

countries
china         3000000.0
Germany       4300000.0
japan         2100000.0
usa            400000.0
ussr         87000000.0
argentina           NaN
Name: world war 2 casualties, dtype: float64