In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [3]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [13]:
data = {'city':['sf','la','nyc'], 'population':[83000,5600000,3400000]}

In [14]:
 city_frame = DataFrame(data)

In [15]:
city_frame

  city  population
0   sf       83000
1   la     5600000
2  nyc     3400000