In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
# import pandas testing utility
import pandas.util.testing as tm; tm.N = 3
# Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value': frame.values.ravel('F'),
           'variable':np.asarray(frame.columns).repeat(N),
           'date': np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date','variable','value'])
# set the DataFrame we'll be using

dframe = unpivot(tm.makeTimeDataFrame())

In [4]:
dframe

         date variable     value
0  2000-01-03        A  0.315122
1  2000-01-04        A  1.597808
2  2000-01-05        A  0.144001
3  2000-01-03        B -1.038180
4  2000-01-04        B -0.162273
5  2000-01-05        B  0.511476
6  2000-01-03        C  1.413157
7  2000-01-04        C -0.780142
8  2000-01-05        C  1.184263
9  2000-01-03        D  0.811237
10 2000-01-04        D  0.344332
11 2000-01-05        D  0.241329

In [5]:
dframe_piv = dframe.pivot('date','variable','value')
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.315122 -1.038180  1.413157  0.811237
2000-01-04  1.597808 -0.162273 -0.780142  0.344332
2000-01-05  0.144001  0.511476  1.184263  0.241329