In [1]:
import pandas_datareader.data as web

In [2]:
import datetime

In [3]:
start = datetime.datetime(2015,1,1)
end = datetime.datetime(2017,1,1)

In [5]:
facebook = web.DataReader('FB','google',start,end)

In [6]:
facebook.head()

              Open    High     Low   Close    Volume
Date
2016-11-04  119.59  121.93  119.25  120.75  30545466
2016-11-07  122.83  123.21  121.35  122.15  23008880
2016-11-08  122.03  124.61  121.54  124.22  19460768
2016-11-09  121.50  123.81  120.51  123.18  31916020
2016-11-10  123.93  124.18  115.27  120.80  67846704

In [7]:
from pandas_datareader.data import Options
fb_options = Options('FB','google')

In [8]:
options_df = fb_options.get_options_data(expiry=fb_options.expiry_dates[0])

In [9]:
options_df.head()

                                            Last     Bid     Ask  Chg  PctChg  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000  172.50  173.70  174.20  0.0     0.0
                  put  FB180119P00005000    0.01     NaN    0.01  0.0     0.0
10.0   2018-01-19 call FB180119C00010000  167.65  168.75  169.30  0.0     0.0
                  put  FB180119P00010000    0.01     NaN    0.01  0.0     0.0
15.0   2018-01-19 call FB180119C00015000  158.70  163.80  164.30  0.0     0.0

                                          Vol  Open_Int Root  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000  NaN    9359.0   FB
                  put  FB180119P00005000  NaN    3053.0   FB
10.0   2018-01-19 call FB180119C00010000  NaN    2691.0   FB
                  put  FB180119P00010000  NaN    2056.0   FB
15.0   2018-01-19 call FB180119C00015000  NaN     250.0   FB

                                          Underlying_Price  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000            178.92
                  put  FB180119P00005000            178.92
10.0   2018-01-19 call FB180119C00010000            178.92
                  put  FB180119P00010000            178.92
15.0   2018-01-19 call FB180119C00015000            178.92

                                                         Quote_Time
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000 2017-11-03 16:57:44.813718
                  put  FB180119P00005000 2017-11-03 16:57:44.813718
10.0   2018-01-19 call FB180119C00010000 2017-11-03 16:57:44.813718
                  put  FB180119P00010000 2017-11-03 16:57:44.813718
15.0   2018-01-19 call FB180119C00015000 2017-11-03 16:57:44.813718