In [3]:
# comment
#10

In [4]:
1 + 1

2

In [5]:
1-3

-2

In [6]:
name_of_cvar = 2

In [7]:
x =1

In [8]:
y =2

In [9]:
z = x + y

In [10]:
z

3

In [11]:
'single'

'single'

In [12]:
"double"

'double'

In [13]:
x = 'helle'

In [14]:
print(x)

helle

In [16]:
name = "jose portlla"

In [17]:
print("Hello my name is %s" % name)

Hello my name is jose portlla

In [18]:
print("hello my name is {}".format(name))

hello my name is jose portlla

In [19]:
x = 4

In [21]:
import math

In [22]:
# comparison operators

In [23]:
1 <2

True

In [24]:
1 == 1

True

In [25]:
1 == '1'

False

In [32]:
if (1 == 2):
    print('hell0')
elif 2==3:
    print('two')
else:
    print('if statement was not true')

if statement was not true

In [33]:
# for loops

In [34]:
seq = [1,2,3,4,5]

In [40]:
for num in seq:
    print(num**2)

1
4
9
16
25

In [41]:
# while loop

In [44]:
 i = 1
 while i < 5:
        print(' i is currently {}'.format(i))
        i = i + 1

 i is currently 1
 i is currently 2
 i is currently 3
 i is currently 4

In [ ]:
range()

In [46]:
x = [1,2,3,4]

In [47]:
out = []
for num in x:
    out.append(num**2)

In [48]:
out

[1, 4, 9, 16]

In [49]:
print(out)

[1, 4, 9, 16]

In [50]:
[num**2 for num in x]

[1, 4, 9, 16]

In [51]:
# functions
# lambda expressions
#map and filter
# various useful methods

In [87]:
def my_func(argument):
    """
    Docstring goes here !
    """
    return argument*5

In [88]:
x = my_func(5)
x

25

In [89]:
my_func('jose')

'josejosejosejosejose'

In [91]:
print(x)

25

In [92]:
print('jose')

jose

In [97]:
 lambda var:var*2

In [94]:
result = times_two(4)

In [95]:
result

8

In [96]:
lambda var: var*2

In [98]:
seq = [1,2,3,4,5]

In [102]:
list(map(lambda num:num*2,seq))

[2, 4, 6, 8, 10]

In [106]:
lambda num:num%2 == 0

In [107]:
list(filter(lambda num:num%2 == 0, seq))

[2, 4]

In [108]:
# mrthods

In [109]:
st = 'hello my name is sam'

In [110]:
st.lower()

'hello my name is sam'

In [111]:
st.upper()

'HELLO MY NAME IS SAM'

In [112]:
st.upper

In [113]:
tweet = "Go Sports! #cool"

In [114]:
tweet.split()

['Go', 'Sports!', '#cool']

In [122]:
tweet.split('#')[0]

'Go Sports! '

In [126]:
d = {'key':10, 'key2':'seconditem'}

In [127]:
d

{'key': 10, 'key2': 'seconditem'}

In [129]:
d.keys()

dict_keys(['key', 'key2'])

In [130]:
d.items()

dict_items([('key', 10), ('key2', 'seconditem')])

In [131]:
my_list = [1,2,3]

In [132]:
my_list.append(4)

In [134]:
my_list

[1, 2, 3, 4]

In [135]:
my_list.pop()

4

In [136]:
my_list.pop(0)

1

In [137]:
my_list

[2, 3]

In [138]:
1 in my_list

False

In [139]:
2 in my_list

True

In [140]:
# Task 1

In [141]:
price = 300

In [142]:
price**0.5

17.320508075688775

In [144]:
import math 
math.sqrt(price)

17.320508075688775

In [145]:
# Task 2

In [146]:
stock_index = "SP500"

In [151]:
stock_index[2:5]

'500'

In [152]:
stock_index[2:]

'500'

In [153]:
#Task 3

In [154]:
stock_index = "SP500"

In [155]:
price = 300

In [157]:
print("The {} ia at {} today".format(stock_index, price))

The SP500 ia at 300 today

In [158]:
# Task 4

In [159]:
stock_info = {'sp500':{'today':300,'yesterday':250}, 'info':['Time',[24,7,365]]}

In [163]:
stock_info.keys()

dict_keys(['sp500', 'info'])

In [165]:
stock_info['sp500']['yesterday']

250

In [168]:
stock_info['info'][1][2]

365

In [169]:
# Task 5

In [170]:
def source_finder(s):
    return s.split('--')[-1]

In [171]:
source_finder("PRICES:345.324:SOURCE--QUANDL")

'QUANDL'

In [172]:
# tASK 5

In [175]:
def price_finder(s):
    return 'price' in s.lower()

In [176]:
price_finder("WHAT IS THE PRICE")

True

In [177]:
price_finder("Dude , WHAT IS THE PRICE!!!")

True

In [179]:
# Task # 6

In [182]:
def count_price(s):
    count = 0
    
    for word in s.lower().split():
        if 'price' in word:
            count = count + 1
            
    return count

In [188]:
def count_price1(s):
    return s.lower().count('price')

In [185]:
s = 'wow that is a nice price, very nice Price! I said price 3 that'

In [186]:
count_price(s)

3

In [189]:
count_price1(s)

3

In [190]:
# Take 7

In [191]:
def avg_price(stocks):
    return sum(stocks)/len(stocks)

In [192]:
avg_price([3,4,5])

4.0